<header class="d-flex flex-wrap py-2 border-bottom">
  <ul class="nav">
    <li>
      <a routerLink="login" class="nav-link active" style="margin-left: 20px"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="about" class="nav-link active" style="margin-left: 1000px"
        >About</a
      >
    </li>
    <li>
      <a routerLink="faqs" class="nav-link active" style="margin-left: 20px"
        >FAQs</a
      >
    </li>
    <li>
      <a routerLink="logout" class="nav-link active" style="margin-left: 20px"
        >Logout</a
      >
      <!-- TODO ngOnInit calls usersService.logout() -->
    </li>
  </ul>
</header>
