<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <a
      class="role-category-btn"
      routerLink="/create-user"
      routerLinkActive="active-link"
      *ngIf="usersService.isAdminstratorLoggedIn()"
    >
      ADD NEW USER
    </a>

    <a
      type="button"
      routerLink="/create-course"
      class="role-category-btn"
      routerLinkActive="active-link"
    >
      ADD NEW COURSE
    </a>
    <a
      type="button"
      class="role-category-btn"
      style="color: black; font-size: 0.85rem; padding-top: 10px"
      routerLink="/role/0"
      routerLinkActive="active-link"
    >
      LIST ALL USERS</a
    >
    <ul class="list-unstyled navbar-list">
      <li *ngFor="let tempRoleCategory of roleCategories">
        <a
          type="button"
          class="role-category-btn"
          style="color: black; font-size: 0.85rem; padding-top: 10px"
          routerLink="/role/{{ tempRoleCategory.roleId }}"
          routerLinkActive="active-link"
        >
          {{ tempRoleCategory.roleName }}</a
        >
      </li>
    </ul>

    <a
      type="button"
      class="role-category-btn"
      routerLink="/courses"
      routerLinkActive="active-link"
    >
      LIST ALL COURSES
    </a>
    <a
      type="button"
      class="role-category-btn"
      routerLink="/marks"
      routerLinkActive="active-link"
    >
      LIST MARKS
    </a>
  </nav>
</div>
