<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <button
      type="button"
      class="btn btn-primary"
      style="width: 140px; font-size: 14px; font-weight: bolder"
    >
      Add new User
    </button>

    <ul class="list-unstyled navbar-list" style="padding-top: 40px">
      <li *ngFor="let tempRoleCategory of roleCategories">
        <a
          style="text-decoration: none"
          routerLink="/role/{{ tempRoleCategory.roleId }}"
          routerLinkActive="active-link"
        >
          {{ tempRoleCategory.roleName }}</a
        >
      </li>
    </ul>
  </nav>
</div>
