<!-- <router-outlet></router-outlet> -->
<form class="card">
  <h1 class="h1 mb-4" style="text-align: center">Please sign in</h1>

  <div>
    <label>User Type</label>
    <select formControlName="user" style="height: 40px" [(ngModel)]="roleId">
      <option selected disabled>Select User</option>
      <option [ngValue]="1">Adminstrator</option>
      <option [ngValue]="2">Teacher</option>
      <option [ngValue]="3">Student</option>
    </select>
  </div>

  <div>
    <label>Email address</label>
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      name="email"
      [(ngModel)]="email"
    />
  </div>
  <div>
    <label>Password</label>
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
    />
  </div>

  <div>
    <button 
      class="btn btn-md btn-primary" 
      type="submit"
      (click)=login()
      >
      Sign in
    </button>
    <button
      class="btn btn-md btn-primary"
      style="margin-left: 30px"
      type="submit"
      routerLink="/forgot-password"
    >
      Forgot Password
    </button>
  </div>
</form>
