<div class="form-header">
  <input
    #myInput
    placeholder="Search for data ..."
    class="au-input au-input-xl"
    (keyup.enter)="startSearch(myInput.value)"
  />
  <button (click)="startSearch(myInput.value)" class="au-btn-submit">
    Search
  </button>

  <a
    routerLink="/login"
    routerLinkActive="active-link"
    class="nav-link active"
    style="margin-left: 600px; color: white"
    >Login</a
  >
  <a
    routerLink="/login"
    class="nav-link active"
    style="margin-left: 25px; color: white"
    >Logout</a
  >
  <!-- TODO ngOnInit calls usersService.logout() -->
</div>
