<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <h3><p style="padding-left: 1rem">Welcome to</p></h3>
    <div class="logo">
      <img
        src="assets/cgslogo.png"
        alt="Welcome"
        class="img-responsive"
        style="border-style: none"
      />
    </div>
    <app-role-category></app-role-category>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    Hello
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->

    <div class="main-content">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <table
                class="table table-bordered"
                style="width: 100%; border-radius: 5px"
              >
                <thead>
                  <div *ngFor="let tempUser of users">
                    <tr>
                      <th>
                        <a routerLink="/users/{{ tempUser.userId }}">
                          <img src="{{ tempUser.imageUrl }}"
                        /></a>
                      </th>
                      <th class="th-layout">
                        Name :
                        {{ tempUser.firstName }}
                        {{ tempUser.lastName }}
                      </th>
                      <th class="th-layout">Role : {{ tempUser.roleId }}</th>
                      <th class="th-layout" style="width: 600px">
                        <button
                          routerLink="/users/{{ tempUser.userId }}"
                          type="button"
                          class="btn btn-primary"
                        >
                          Details
                        </button>
                        <button type="button" class="btn btn-update">
                          Update
                        </button>
                        <button type="button" class="btn btn-danger">
                          Delete
                        </button>
                      </th>
                    </tr>
                    <tr></tr>
                  </div>
                </thead>
              </table>
              <!-- if User doesn't exist  then dispaly message -->

              <div
                *ngIf="users?.length == 0"
                class="alert alert-warning col-md-12"
                role="alert"
              >
                No User Found.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of MAIN CONTENT-->
  </div>
  <!-- end of PAGE CONTAINER-->
</div>
<!-- end of PAGE WRAPPER-->

<!-- Footer -->
<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
<!-- end of Footer -->
